
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');







body{
    margin: 0;
    padding: 0;
    
}
main{
    background: 
    linear-gradient(rgba(0, 0, 0, 0.731)),
     url("../imagenes/sunglasses-2562647_640.jpg");
    background-size: cover;
    height: 95vh;
    font-family: "poppins";
    font-size: 16px;
    color: aquamarine;
}


i{
    font-size: 20px;
     color: rgb(59, 207, 29);

 }

i:hover{
     color: brown;
 }

 ul{
    text-align: right;
    list-style: none;
    margin-top: 0;
    margin-right: 4rem;
    padding: 1rem;
    

    }

    li{
        display: inline;
        padding-right: 1.5rem;
    }
    h1{
        font-size: 3rem;
        width: 45%;
        padding-top: 17rem;
    }
    
